@font-face {
    font-family:"helvetica";
    src:url("../Font/HelveticaNeueLTPro-Bd.otf");
    src:url("../Font/HelveticaNeueLTPro-Lt.otf");
    src:url("../Font/HelveticaNeueLTPro-Md.otf");
    src:url("../Font/HelveticaNeueLTPro-Roman.otf");
    src:url("../Font/HelveticaNeueLTPro-Th.otf");
    src:url("../Font/NeueBold.otf");
}
body {
    padding:0px;
    margin:0px;
    font-family:"helvetica";
     }
ul {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    list-style-type:none;
    background-color:#2969b0;
    position:fixed;
    width:100%;
    top:0px;
    z-index: 999;
}
ul li a {
    color:white;
}
li {
    float:left;
}
li a {
    display: block;
    color:white;
    font-weight:bolder;
    padding: 18px 20px;
    font-size:15px;
    text-decoration:none;
    text-align:center;
}
li a:hover:not(.active) {
    background-color: dodgerblue;
    -webkit-transition: all .25s ease-in;
    }
 .active {
    background-color:red;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    margin-top:50px;
    margin-left:50px;
    position:relative;
    top:25px;
    font-size:15px;
    border:1px solid black;
    box-sizing: border-box;
}
.card[title="asd"] {
    float:left;
}
div[title="VGunay"] {
    position:relative;
    left:5%;
}
.guncelsurum {
    color:white;
    float:right;
    padding:15px 30px;
    font-family:cursive;
    font-weight:bold;
    font-size:15px;
}
.card:hover {
    -webkit-box-shadow: 6px 8px 21px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 8px 21px 0px rgba(0,0,0,0.75);
box-shadow: 6px 8px 21px 0px rgba(0,0,0,0.75);
}

.container {
    padding: 2px 16px;
}
footer {
    background-color:#2969b0;
    height:62px;
    width:100%;
    font-weight:bold;
    font-size:20px;
    color:white;
}
.icon-bar {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  color: white;
  float:right;
  font-size: 20px;
  border-radius:10%;
  border:2px solid black;
  margin-left:10px;
  position:relative;
  top:8px;
  border-radius:50%;
}

.icon-bar a:hover {
    background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
  width:20px;
}

.twitter {
  background: #55ACEE;
  color: white;
}
.youtube {
  background: #bb0000;
  color: white;
}
@media screen and (max-width:1679px)
{
    .card {
        width:210px;
        position:relative;
        right:15px;
    }    
}
@media screen and (max-width:1679px)
{
    .card {
        width:190px;
        font-size:13px;
        position:relative;
        top:100px;
        left:0px;
    }
    div[title="VGunay"] {
    position:relative;
    left:-60px;
    }
}
@media screen and (max-width:1600px)
{
    .card {
        width:190px;
        font-size:13px;
        position:relative;
        top:100px;
    }
    div[title="VGunay"] {
    position:relative;
        left:-50px;
    }
}
@media screen and (max-width:1563px)
{
    .card {
        width:170px;
        font-size:12.5px;
        position:relative;
        top:100px;
        left:50px;
    }
    div[title="VGunay"] {
        position:relative;
        left:-60px;
    }
    footer {
        position:relative;
        top:15px;
    }
}
@media screen and (max-width:1500px)
{
    .card {
        width:160px;
        font-size:11.5px;
        position:relative;
        top:100px;
    }
    div[title="VGunay"] {
    position:relative;
        left:-80px;
    }
    footer {
        position:relative;
        top:41px;
    }
}
@media screen and (max-width:1450px)
{
    .card {
        width:150px;
        font-size:11px;
        position:relative;
        top:120px;
    }
    div[title="VGunay"] {
    position:relative;
        left:-100px;
    }
    footer {
        position:relative;
        top:58px;
    }
}
@media screen and (max-width:1380px)
{
    .card {
        width:145px;
        font-size:10.5px;
        position:relative;
        top:130px;
    }
    div[title="VGunay"] {
    position:relative;
        left:-110px;
    }
    footer {
        position:relative;
        top:66px;
    }
}
@media screen and (max-width:1340px)
{
    .card {
        width:135px;
        font-size:10px;
        position:relative;
        top:130px;
    }
    div[title="VGunay"] {
    position:relative;
        left:-135px;
    }
    footer {
        position:relative;
        top:83px;
    }
}
div[title="VGunay"] {
    position:relative;
    margin-left:735px;
    margin-bottom:50px;
    display:block;
}